.inspected-string {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 20px;
  background: #e3e3e3;
  .title {
    padding: 10px;
    background: #e3e3e3;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -10px;
    color: black;
    font-weight: bold;
  }
}
