@import "./const";

a {
  color: $lightBlue1;
}

.chart {
  /* height: 1500px; */
  height: 600px;
  margin: 5px;
  width: 99vw;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.node-name {
  font-weight: bold;
}

.nodeExample1 {
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 150px;
  font-family: Tahoma;
  font-size: 13px;
}

.node.node--not-loaded {
  width: 100px;
}

#code,
#compiled-code {
  width: 500px;
  height: 100px;
  font-size: 14px;
  font-family: Courier New;
}

#compiled-code {
  display: none;
  width: 100vw;
  height: 200px;
  font-size: 12px;
}

.chart {
  font-weight: bold;
}

.value {
  font-family: Courier New;
  font-size: 11px;
}

.value--string {
  color: #a00;

  white-space: nowrap;
  overflow-x: scroll;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.value--number {
  color: #00a;
}

.value--other {
  color: #0a0;
}

.operation {
}

.CodeMirror {
  height: 150px !important;
}

.node {
  border-color: #999;
  padding: 4px;
  width: 280px;
}

.highlight-step {
  border: 2px solid #f627c9;
}

path {
  stroke: #999;
}

#chars {
  font-size: 20px;
  font-family: Courier New;
}

.code-container {
  border: 1px solid #dde;
  padding: 4px;
}

.node .code-container {
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
}

.code-container * {
  font-family: monospace;
}

.step__string {
  background: #fff9f9;
  border: 1px solid #dde;
  padding: 4px;
  color: #777;
  line-height: 1.3em;
}

.step__string * {
  font-family: monospace;
}

.step__header {
  width: 100%;
  font-family: Arial;
  background: aliceblue;
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.step__operation-type {
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.step__body {
}

.step__body button {
  float: right;
  border: none;
  background: transparent;
  text-decoration: underline;
  margin-top: 6px;
}

.step .code-container {
  border-bottom: none;
}

.step {
  border: 1px solid rgb(221, 221, 221);
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .app__inspector {
    width: 100%;
    padding: 10px;
  }
  .app__demo {
    display: none;
    float: left;
    width: 0;
  }
  &.app--isInspectingDemoApp {
    .app__inspector {
      width: 60%;
      float: left;
    }
    .app__demo {
      display: flex;
      width: 40%;
      iframe {
        width: 100%;
        height: 150px;
        border: none;
      }
    }
  }
}

.welcome {
  margin-top: 0px;
  max-width: 800px;
  background: white;
  display: flex;
  .app__demo & {
    background: #fafafa;
    border-left: 2px solid #ccc;
  }
  flex-direction: column;
  width: 100%;
}
.welcome-content {
  padding: 10px;
}

.blue-button {
  padding: 3px 6px;
  margin-left: 6px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  background: #236fb1;
  color: white;
  outline: none;
  &:hover {
    background: #4f33ac;
  }
}

.app-header {
  background: #15054e;
  color: white;
  padding: 15px;
}
.app-content {
  flex-grow: 1;
  display: flex;
}

.load-demo-app {
  cursor: pointer;
  &:not(.load-demo-app--hide) {
    background: #236fb1;
    color: white;
    padding: 10px;
    border: none;
    font-size: 14px;
    &:hover {
      background: #15054e;
    }
  }
  &.load-demo-app--hide {
    border: none;
    color: #236fb1;
    padding: 0;
  }
}

.named-step-container {
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: 10px;
  &--collapsed {
    .title {
      margin-bottom: 0;
    }
  }
}

.title {
  margin-bottom: 10px;
  color: #15054e;
}
