body {
    margin: 0;
    background: white;
    color: #444;
}

code{
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}
button {
    border: none;
    background: transparent;
    box-shadow: none;
    min-height: none;
    border-radius: 0;
    padding: 0;
    min-height: 0px;
    min-width: 0px;
}
button:hover,
button:focus, {
    background: inherit;
    border: none;
    box-shadow: none;
}

.fromjs-show-inspector-button {
    padding: 10px;
    border: none;
}
.fromjs-show-inspector-button:hover {
    background: #1b0d80;
}


.toggle-inspector-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999999999;

    color: white;
    line-height: 22px;
    background: #333;
    font-weight: bold;
    cursor: pointer;
}

.close-inspector-button {
    font-size: 16px;

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    display: inline-block;
    padding: 0;
    border-top: 20px solid #333;
    border-right: 20px solid #333;
    background: transparent;
}
.close-inspector-button:after {
    content: "\00d7";
    display: block;
    margin-top: -20px;
    font-size: 16px;
    padding-left: 6px;
}

.close-inspector-button:hover {
    border-top-color: #1b0d80;
    border-right-color: #1b0d80;
}

#fromjs .fromjs-intro {
    padding: 10px;
}
#fromjs .fromjs-intro a {
    color: #0088ff;
    text-decoration: none;
}

body:not(.fromjsIsMobile) .fromjs-value span:hover {
    color: red;
    border-bottom: 2px solid red;
}
#fromjs .fromjs-value {
    padding: 10px;
}
#fromjs .fromjs-value span {
    cursor: pointer;
}
body:not(.fromjsIsMobile) .fromjs-value__whitespace-character:hover {
    background: #ff1a1a;
}

#fromjs .fromjs-value__whitespace-character.fromjs-highlighted-character {
    background: #9ad0ff;
}
#fromjs .fromjs-value__content {
    max-height: 131px;
    overflow: auto;
}
#fromjs .fromjs-stack__code {
    line-height: 18px;
    word-wrap: nowrap;
    white-space: nowrap;
    background: red !important;
}
#fromjs .fromjs-stack__code.fromjs-stack__code--truncated {
    cursor: pointer;
}
#fromjs .fromjs-stack__line-number {
    position: relative;
}
#fromjs .fromjs-stack__code .fromjs-stack__line-number-arrow {
    display: none;
    position: absolute;
    top: 0;
    font-family: Arial;
}
#fromjs .fromjs-stack__code:hover .fromjs-stack__line-number--has-arrow .fromjs-stack__line-number-text{
    visibility: hidden;
}
#fromjs .fromjs-stack__code:hover .fromjs-stack__line-number-arrow {
    display: block;

}


#fromjs .fromjs-stack__code-column {
    border-right: 2px solid #0088ff;
    padding-left: 1px;
    margin-right: 2px;
}

#fromjs * {
    box-sizing: border-box;
}

#fromjs .fromjs-highlighted-character {
    color: #0088ff;
    font-weight: bold;
    border-bottom: 2px solid #0088ff;
}

#fromjs .origin-path-step__filename {
    color: black;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
#fromjs .origin-path-step__filename:hover {
    text-decoration: underline;
}
#fromjs .fromjs-origin-path-step__stack-frame-selector-toggle {
    float: right;
    font-size: 20px;
    padding-top: 2px;
    padding-right: 2px;
    color: #08f;
    cursor: pointer;
    outline: none;
}
#fromjs .fromjs-origin-path-step__stack-frame-selector-toggle:hover {
    color: red
}

#fromjs .fromjs-input-value-link {
    paddging: 4px;
    padding-left: 10px;
    cursor: pointer;
}
#fromjs .fromjs-input-value-link:hover {
    color: red;
}

#fromjs .fromjs-origin-path-step .fromjs-origin-path-step__only-show-on-step-hover {
    display: none;
}
#fromjs .fromjs-origin-path-step:hover .fromjs-origin-path-step__only-show-on-step-hover {
    display: inline-block;
}



#fromjs .fromjs-stack-frame-selector__item {
    padding: 2px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    overflow: hidden;
}
.fromjs-stack-frame-selector__item:last-child {
    border-bottom-width: 2px;
}
.fromjs-stack-frame-selector__item--selected * {
    color: #0088ff !important;
}
.fromjs-stack-frame-selector__item:hover * {
    color: red !important;
}

#fromjs-sidebar {
    position: fixed;
    z-index: 1000000;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 40vw;
}

#fromjs {

    font-family: "Arial";
    font-size: 14px;

    background: white;
    overflow: auto;
    /* without this scrolling the sidebar doesn't work on iOS
    if the page content is also scrollable */
    -webkit-overflow-scrolling: touch;
}

.fromjs-stack__line-number {
    border-right: 1px solid #ddd;
    padding-right: 5px;
    padding-left: 10px;
    margin-right: 5px;
    text-align: right;
    min-width: 30px;
    display: inline-block;
}

.fromjs-horizontal-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}
.fromjs-horizontal-scroll-container > div {
    display: inline-block;
    min-width: 100%;
}

.fromjs-btn-link{
    color: green;
    cursor: pointer;
    border: none;
    background: transparent;
}
.fromjs-btn-link:hover {
    text-decoration: underline;
}

.fromjs-element-marker {
    position: absolute;
    z-index: 10000;
    pointer-events: none;
}

#fromjs hr {
    // from todomvc
    margin: 20px 0;
    border: 0;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}

#fromjs .fromjs-go-up-button {
    font-size: 20px;
    font-weight: bold;
    color: #08f;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    vertical-align: baseline;
    -webkit-appearance: none;
    border: none;
}
.fromjs-go-up-button:hover {
    color: red;
}


.fromjs-info-icon {
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-left: 2px;
    line-height: 17px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}
[data-tip]:hover .fromjs-info-icon {
    background: #08f;
}

[data-tip]:hover {
    color: #08f;
}
.__react_component_tooltip .multi-line {
    text-align: left;
    line-height: 16px;
    font-size: 12px;
}
.__react_component_tooltip {
    transition: none !important;
}
#fromjs .__react_component_tooltip {
    border-radius: 3px;
    padding: 8px 21px;
}

.fromjs-no-phone-support-warning {
    position: fixed;
    top: 0;
    font-size: 20px;
}
